.Article {
  margin-bottom: 32px;
  @include mq() {
    margin-bottom: 48px;
  }

  &-Figure {
    margin-bottom: 32px;
    @include mq() {
      margin-bottom: 48px;
    }
  }

  &-Content {
    margin: 0 auto 48px;

    p, blockquote{
      font-size: 16px;
      line-height: 2;
      margin: 0 auto 24px;
      padding: 0 4vw;
      @include mq() {
        padding: 0;
        width: 90%;
        font-size: 17px;
      }
    }
    h2, h3, h4 {
      font-size: 20px;
      margin: 0 4vw 24px;
      border-left: 6px solid $primary;
      background-color: $dark05;
      padding: 12px 16px;
      line-height: 1.4;
      @include mq() {
        font-size: 24px;
        padding: 16px 24px;
      }
    }
    .wp-block-image {
      margin-bottom: 32px;
      border-radius: 6px;
      
      figcaption {
        margin: 0;
        margin-top: 12px;
        font-size: 14px;
        color: $dark30;
        text-align: center;
      }
    }
    ul, ol {
      padding: 0 4vw 0 9vw;
      margin: 0 auto 32px;
      font-size: 16px;
      li {
        margin-bottom: 16px;
        line-height: 1.5;
      }
      @include mq() {
        font-size: 17px;
        width: 85%;
        padding: 0;
      }
    }
    .youtube-wrap {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0;
      margin-bottom: 32px;
      height: 0;
      overflow: hidden;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}