.Article {
  &-Figure {
    margin-bottom: 48px;
    img {
      border-radius: 6px;
    }
  }
  &-Content {
    margin: 0 auto 48px;
    
    p, blockquote{
      font-size: 17px;
      line-height: 2;
      margin-bottom: 24px;
      width: 90%;
      margin: 0 auto 24px;
    }
    h2, h3, h4 {
      font-size: 24px;
      margin-bottom: 32px;
    }
    .wp-block-image {
      margin-bottom: 32px;
      border-radius: 6px;

      img {
        border-radius: 6px;
      }
      
      figcaption {
        font-size: 14px;
        margin-top: 12px;
        color: $dark30;
      }
    }
    ul, ol li {
      width: 90%;
      margin: 0 auto 32px;
      margin-bottom: 32px;
      li {
        margin-bottom: 16px;
      }
    }
    .youtube-wrap {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0;
      margin-bottom: 32px;
      height: 0;
      overflow: hidden;
      border-radius: 6px;
      
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}