form#commentform {
  margin: 2pc 0 3pc;
}
.comment-form-author label,
.comment-form-comment label {
  display: block;
  margin-bottom: 9pt;
  font-size: 14px;
  font-weight: 700;
}
textarea#comment {
  line-height: 1.5;
}
input#author,
textarea#comment {
  background-color: $dark05;
  width: 100%;
  border: 0;
  font-size: 1pc;
  border-radius: 0;
  padding: 1pc;
  margin-bottom: 30px;
}
input#submit {
  // padding: 1pc 0;
  // border-radius: 2pc;
  // display: block;
  width: 100%;
  max-width: 340px;
  font-weight: 700;
  // font-size: 1pc;
  margin: 0 auto;
  // cursor: pointer;
  // color: #fff;
  // text-align: center;
  // background: linear-gradient(120deg, #fce228, #ffc107);
  // box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 16px 0;
  margin-top: 32px;
  background-color: $primary;
  color: $dark90;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
}
li.comment {
  list-style: none;
}
.comment-body {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.comment-meta {
  font-size: 14px;
  margin-bottom: 20px;
}
.comment-meta a {
  color: #999;
}
.comment-body p {
  margin-bottom: 30px;
  font-size: 1pc;
  color: #333;
  line-height: 1.5;
}
.comment-author {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
}
.fn {
  font-style: normal;
}
.says {
  display: none;
}
ul.children .comment-body {
  padding-left: 40px;
}
.reply {
  text-align: right;
}
.reply a {
  padding: 0 24px;
  border-radius: 1pc;
  display: inline-block;
  color: #0070c9;
  background-color: $dark05;
  font-weight: 700;
  font-size: 13px;
  line-height: 2pc;
}

.article__text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}