.Editor {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 12px;
  margin-bottom: 32px;
  padding: 0 4vw;
  @include mq() {
    position: sticky;
    top: 24px;
    left: 0;  
    display: inline-table;
    margin-bottom: 0;
    padding: 32px;
    background-color: $dark05;
  }

  &-Info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-content: center;
    @include mq() {
      display: block;
      align-content: unset;
    }
  }

  &-Links {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    @include mq() {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-Link {
    display: block;
    text-align: center;
  }

  &-Icon {
    width: auto;
    height: 30px;
  }

  &-Img {
    display: block;
    border-radius: 50%;
    @include mq() {
      margin-bottom: 16px;
    }
  }

  &-Name {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    br {
      display: none;
    }
    @include mq() {
      font-size: 14px;
      text-align: center;
      margin-bottom: 8px;
      br {
        display: block;
      }
    }
  }

  &-More {
    display: block;
    font-size: 12px;
    @include mq() {
    text-align: center;
    margin-bottom: 24px;
    }
  }

  &-Title {
    display: none;
    @include mq() {
      text-align: center;
      font-size: 12px;
      display: block;
      margin-bottom: 12px;
    }
  }
}