.Editor {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 12px;
  margin-bottom: 32px;
  padding: 0 4vw;
  @include mq() {
    display: block;
    margin-bottom: 0;
    padding: 0;
  }

  &-Info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-content: center;
    @include mq() {
      display: block;
      align-content: unset;
    }
  }
  &-Links {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-Icon {
    width: auto;
    height: 30px;
  }
  &-Img {
    display: block;
    border-radius: 50%;
    @include mq() {
      margin-bottom: 16px;
    }
  }
  &-Name {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    br {
      display: none;
    }
    @include mq() {
      font-size: 14px;
      text-emphasis: center;
      margin-bottom: 0;
    }
  }
  &-More {
    font-size: 12px;
  }
  &-Title {
    display: none;
    @include mq() {
      display: block;
    }
  }
}