.Footer {
  max-width: 1100px;
  padding: 48px 4vw;
  margin: 0 auto;
  @include mq() {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-gap: 32px;
    align-items: center;
    padding: 64px 0;
  }

  &-Logo {
    svg {
      width: 120px;
    }
  }

  &-Desc {
    font-size: 14px;
    line-height: 1.4;
    color: $dark50;
  }
}