.Logo {
  position: relative;
    svg {
      position: absolute;
      left: 0;
      top: -19px;
      width: 120px;
      @include mq() {
        top: -10px;
        width: 180px;
      }
    }
    &-Caption {
      color: $primary;
      font-size: 10px;
    }
  }
  