.Share {
  padding: 0 4vw;
  @include mq() {
    padding: 0;
  }
  &-Title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }
  &-Buttons {
    list-style: none;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  &-Icon {
    height: 24px;
    width: auto;
    margin: 0 8px 0 0;
  }
  &-Label {
    font-size: 12px;
    font-weight: bold;
  }
  &-Button {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $white;
  }
}