.Single {
  max-width: 1100px;
  margin: 0 auto;

  &-Header {
    padding: 0 4vw;
    @include mq() {
      padding: 0;
    }
  }

  &-Title {
    font-size: 24px;
    margin: 32px 0 16px;
    line-height: 1.4;
    @include mq() {
      margin: 48px 0 16px;
      font-size: 32px;
    }
  }

  &-Subtitle {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 16px;
    color: $dark70;
    line-height: 1.4;
    @include mq() {
      font-size: 18px;
    }
  }

  &-Time {
    margin-bottom: 32px;
    color: $dark70;
    font-size: 12px;
    @include mq() {
      font-size: 14px;
    }
  }
  
  &-Publish {
    display: inline-block;
    margin-right: 12px;
  }
}
