.Sns {
  &-Links {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-Link {
    display: block;
    text-align: center;
  }

  &-Icon {
    width: auto;   
    height: 30px;
  }
}