.Tab {
  list-style: none;
  display: flex;
  padding: 4vw;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @include mq() {
    display: block;
    margin: 64px 0 0 0;
    padding: 0;
    white-space: unset;
    overflow-x: unset;
  }

  &-Link {
    display: block;
    background-color: $dark05;
    padding: 24px 18px;
    color: $dark90;
    font-weight: bold;
    margin-right: 12px;
    @include mq() {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}