.Youtube {
  padding: 48px 4vw;
  background-color: $dark05;
  @include mq() {
    padding: 64px;
  }

  &-Embed {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 0 0 32px 0;
    @include mq() {
      margin: 0;
    }
  }
  &-Iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
  &-Split {
    grid-gap: 48px;
    max-width: 1100px;
    margin: 0 auto;
  }
  &-Desc {
    font-size: 14px;
    line-height: 1.5;
    @include mq() {
      font-size: 20px;
    }
  }
  &-Label {
    background-color: $dark90;
    color: $white;
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  &-Heading {
    display: block;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    @include mq() {
      font-size: 32px;
    }
  }
}
