.Twitter {
  background-color: #1da1f2;
}

.Facebook {
  background-color: #29487d;
}

.Apple {
  background-color: $dark90;
}

.Softbank {
  background-color: $dark50;
}

.Docomo {
  background-color: #d50c38;
}

.Au {
  background-color: #eb5505;
}