.Layout-Split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
}

.Layout-SplitOnlyDesktop {
  display: block;
  @include mq() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
  }
}

.Layout-Single {
  display: block;

  @include mq() {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-gap: 32px;
  }
}